<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <connectionStrings>
    <add name="mysqlblog" connectionString="server=172.16.47.140;user id=webby;password=d#v1ng;database=webby_blog_tests;pooling=true" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" />
    <authentication mode="Windows" />
  </system.web>
</configuration>
